<UserScriptConfig>
	<Script basedir="Google_Calendar_Bars_Toggler" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="This script toggles display of the top and side bars of Google Calendar with click or I U O G V key." enabled="true" filename="107309.user.js" installTime="1349203722702" modified="1349203719000" name="Google Calendar Bars Toggler" namespace="http://userscripts.org/scripts/show/107309" runAt="document-end" uuid="a9f9077d-c8ff-4873-9ec4-27e453784156" version="1.4.2" installurl="http://userscripts.org/scripts/source/107309.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/107309.meta.js">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Include>https://*.google.*/calendar/*</Include>
		<Include>http://*.google.*/calendar/*</Include>
	</Script>
	<Script basedir="Seed_Meeting_ID" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Seed_Meeting_ID.user.js" installTime="1330706806129" modified="1330717794000" name="Seed Meeting ID" namespace="fedex.scotterwin" runAt="document-end" uuid="547e975e-1b6a-43ae-9074-c8364ace69e8" version="null">
		<Grant>none</Grant>
		<Include>https://meeting.web.fedex.com/*</Include>
	</Script>
	<Script basedir="Translations_Links" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Translations_Links.user.js" installTime="1331828653150" modified="1357662972000" name="Translations Links" namespace="fedex.scotterwin" runAt="document-end" uuid="a9965a2b-7661-41c1-9f31-c58c9f022935" version="null">
		<Grant>none</Grant>
		<Include>https://vistaidiom.vistatec.ie/*</Include>
	</Script>
	<Script basedir="Facebook_Link_Director" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="null" enabled="true" filename="130260.user.js" installTime="1334153801441" modified="1334153797000" name="Facebook Link Director" namespace="https://www.facebook.com/*" runAt="document-end" uuid="01d4153d-4626-444e-9965-3add9ec7184f" version="1.0" installurl="http://userscripts.org/scripts/source/130260.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/130260.meta.js">
		<Grant>none</Grant>
		<Include>https://www.facebook.com/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="HideWaveRows" checkRemoteUpdates="1" dependhash="96a4fe909f3e22fcb305f33916013931c96b8cec" description="Hide all wave related rows from forecast on WindFinder.com" enabled="true" filename="HideWaveRows.user.js" installTime="1345057872686" modified="1357662743000" name="HideWaveRows" namespace="" runAt="document-end" uuid="0dad6719-5af1-43b6-b45b-bb444be52626" version="null">
		<Grant>none</Grant>
		<Include>http://www.windfinder.com/weatherforecast/memphis_shelby_farms</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Add_My_Task_Report_to_VersionOne" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Add_My_Task_Report_to_VersionOne.user.js" installTime="1353003756732" modified="1363966396000" name="Personal VersionOne Report" namespace="fedex.scotterwin" runAt="document-end" uuid="333b6876-20f7-4665-81dc-5d2063183050" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_My_Task_Report_to_VersionOne/Add_My_Task_Report_to_VersionOne.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_My_Task_Report_to_VersionOne/Add_My_Task_Report_to_VersionOne.user.js">
		<Grant>none</Grant>
		<Include>https://www13.v1host.com/FedEx/Default.aspx*</Include>
	</Script>
	<Script basedir="TeamForge_Links" checkRemoteUpdates="1" dependhash="9c0d3500027c68e62b63b72fb1693254b9977be3" description="Helpful TeamForge Links" enabled="true" filename="TeamForge_Links.user.js" installTime="1357678017814" modified="1376326097916" name="TeamForge Links" namespace="fedex.scotterwin" runAt="document-end" uuid="8b168cf3-783d-4729-9ce0-27982d6cf4b6" version="v2.1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/TeamForge_Links/TeamForge_Links.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/TeamForge_Links/TeamForge_Links.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/*</Include>
		<Include>https://itg.prod.fedex.com/sf/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Add_WSAW_Naming_Standards" checkRemoteUpdates="1" dependhash="9c0d3500027c68e62b63b72fb1693254b9977be3" description="" enabled="true" filename="Add_WSAW_Naming_Standards.user.js" installTime="1358277682297" modified="1358367920000" name="Add WSAW Naming Standards" namespace="fedex.scotterwin" runAt="document-end" uuid="a889d960-ab6a-4401-84a9-8b254e30011e" version="1.1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_WSAW_Naming_Standards/Add_WSAW_Naming_Standards.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_WSAW_Naming_Standards/Add_WSAW_Naming_Standards.user.js">
		<Grant>none</Grant>
		<Include>/^https?://itg\.prod\.fedex\.com/sf/docman/do/(create|edit)Document/.*$/</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="EmpNumNames" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="true" filename="EmpNumNames.user.js" installTime="1361553541800" modified="1362263794000" name="EmpNumNames" namespace="fedex.scotterwin" runAt="document-end" uuid="857f1db2-99a1-40b3-b950-fa8617e32cde" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EmpNumNames/EmpNumNames.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EmpNumNames/EmpNumNames.user.js">
		<Grant>none</Grant>
		<Include>http://svn1.prod.fedex.com:7080/integration/viewvc/viewvc.cgi/trunk/saflex/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="EffortReportCurrentWeek-1" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="EffortReportCurrentWeek.user.js" installTime="1364584559543" modified="1364587260000" name="EffortReportCurrentWeek" namespace="fedex.scotterwin" runAt="document-end" uuid="7af9a8ef-e372-487f-8dbc-2e50f4c35ccc" version="null" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EffortReportCurrentWeek-1/EffortReportCurrentWeek.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EffortReportCurrentWeek-1/EffortReportCurrentWeek.user.js">
		<Grant>none</Grant>
		<Include>https://analytics13.v1host.com/FedEx/AdHoc/rdPage.aspx?rdReport=ahReport47*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="APEX_Toolbar" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="APEX_Toolbar.user.js" installTime="1365023926401" modified="1365100936000" name="APEX_Toolbar" namespace="fedex.scotterwin" runAt="document-end" uuid="aa3f924d-3d49-4005-9ba1-cb2de1daba8f" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/APEX_Toolbar/APEX_Toolbar.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/APEX_Toolbar/APEX_Toolbar.user.js">
		<Grant>none</Grant>
		<Include>https://performancemanager4.successfactors.com/acme*</Include>
		<UserInclude>https://performancemanager4.successfactors.com/acme*</UserInclude>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="AutoCheckSenseAwareRepo" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="AutoCheckSenseAwareRepo.user.js" installTime="1364832390103" modified="1364834491000" name="AutoCheckSenseAwareRepo" namespace="fedex.scotterwin" runAt="document-end" uuid="287652ea-ebcd-4d5c-8db5-fce6f3b3c9db" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/AutoCheckSenseAwareRepo/AutoCheckSenseAwareRepo.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/AutoCheckSenseAwareRepo/AutoCheckSenseAwareRepo.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/*/projects.sqa_senseaware/scm</Include>
	</Script>
	<Script basedir="FloatingTaskBoardHeader" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Floating Taskboard Header" enabled="true" filename="FloatingTaskBoardHeader.user.js" installTime="1367516631557" modified="1369144390000" name="FloatingTaskBoardHeader" namespace="fedex.scotterwin" runAt="document-end" uuid="08a5d219-3662-4221-92c0-4c7fda7da4aa" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/FloatingTaskBoardHeader/FloatingTaskBoardHeader.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/FloatingTaskBoardHeader/FloatingTaskBoardHeader.user.js">
		<Grant>none</Grant>
		<Include>https://www13.v1host.com/FedEx/*</Include>
	</Script>
	<Script basedir="Max_length_on_service_ticket" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="set max length" enabled="true" filename="Max_length_on_service_ticket.user.js" installTime="1370267793898" modified="1370268072000" name="Max length on service ticket" namespace="fedex.scotterwin" runAt="document-end" uuid="29b69229-8140-422a-9bdc-ac4737373fb1" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Max_length_on_service_ticket/Max_length_on_service_ticket.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Max_length_on_service_ticket/Max_length_on_service_ticket.user.js">
		<Grant>none</Grant>
		<Include>https://sso.secure.fedex.com/techweb/srvpro.jsp</Include>
	</Script>
	<Script basedir="DupDiffControlsToTop" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="false" filename="DupDiffControlsToTop.user.js" installTime="1371837409621" modified="1373913211351" name="DupDiffControlsToTop" namespace="fedex.scotterwin" runAt="document-end" uuid="8480d0ea-ec4c-45b7-8d62-973699e28ac9" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/DupDiffControlsToTop/DupDiffControlsToTop.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/DupDiffControlsToTop/DupDiffControlsToTop.user.js">
		<Grant>none</Grant>
		<Include>http://sym8b.prod.fedex.com/integration/viewvc/viewvc.cgi*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Monitor_button_at_top" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="Monitor_button_at_top.user.js" installTime="1372098419960" modified="1372099212363" name="Monitor button at top" namespace="fedex.scotterwin" runAt="document-end" uuid="e2cbe1b0-866a-40e3-b601-a435ae15211a" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Monitor_button_at_top/Monitor_button_at_top.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Monitor_button_at_top/Monitor_button_at_top.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/docman/do/listDocuments*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Simple_Form_Saver" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Provides a button at the top left, click it to save or to fill in HTML forms.  If the form is more than just a search input field, eg, google is ignored.  Also possible to selectively fill-in forms automatically only on selected pages." enabled="true" filename="66442.user.js" installTime="1372277334453" modified="1372279181673" name="Simple Form Saver" namespace="userscripts.org" runAt="document-end" uuid="dd70fbc7-d02f-46ae-bb3e-7ebf6bcf2b3a" version="1.3.6" installurl="http://userscripts.org/scripts/source/66442.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/66442.meta.js">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_log</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>unsafeWindow</Grant>
		<Include>https://www13.v1host.com/FedEx/Default.aspx?Page=Widgets*</Include>
	</Script>
	<Script basedir="Preview_Commit_Window" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="Preview_Commit_Window.user.js" installTime="1377031028111" modified="1377035328273" name="Preview Commit Window" namespace="fedex.scotterwin" runAt="document-end" uuid="cee2243c-3d56-4951-8a1e-fac5e08a4fd2" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Preview_Commit_Window/Preview_Commit_Window.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Preview_Commit_Window/Preview_Commit_Window.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/scm/do/viewRepository/projects.sqa_senseaware/scm.senseaware</Include>
		<Require filename="jquery.min.js"/>
	</Script>
</UserScriptConfig>