<UserScriptConfig>
	<Script basedir="Google_Calendar_Bars_Toggler" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="This script toggles display of the top and side bars of Google Calendar with click or I U O G V key." enabled="true" filename="107309.user.js" installTime="1349203722702" lastUpdateCheck="1349203719584" modified="1349203719584" name="Google Calendar Bars Toggler" namespace="http://userscripts.org/scripts/show/107309" runAt="document-end" updateAvailable="false" uuid="a9f9077d-c8ff-4873-9ec4-27e453784156" version="1.4.2" installurl="http://userscripts.org/scripts/source/107309.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/107309.meta.js">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Include>https://*.google.*/calendar/*</Include>
		<Include>http://*.google.*/calendar/*</Include>
	</Script>
	<Script basedir="Seed_Meeting_ID" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Seed_Meeting_ID.user.js" installTime="1330706806129" lastUpdateCheck="1330717794570" modified="1330717794570" name="Seed Meeting ID" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="547e975e-1b6a-43ae-9074-c8364ace69e8" version="">
		<Grant>none</Grant>
		<Include>https://meeting.web.fedex.com/*</Include>
	</Script>
	<Script basedir="Translations_Links" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Translations_Links.user.js" installTime="1331828653150" lastUpdateCheck="1331829792097" modified="1357662972431" name="Translations Links" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="a9965a2b-7661-41c1-9f31-c58c9f022935" version="">
		<Grant>none</Grant>
		<Include>https://vistaidiom.vistatec.ie/*</Include>
	</Script>
	<Script basedir="Facebook_Link_Director" checkRemoteUpdates="true" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="130260.user.js" installTime="1334153801441" lastUpdateCheck="1334153797956" modified="1334153797956" name="Facebook Link Director" namespace="https://www.facebook.com/*" runAt="document-end" updateAvailable="false" uuid="01d4153d-4626-444e-9965-3add9ec7184f" version="1.0" installurl="http://userscripts.org/scripts/source/130260.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/130260.meta.js">
		<Grant>none</Grant>
		<Include>https://www.facebook.com/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="HideWaveRows" checkRemoteUpdates="true" dependhash="96a4fe909f3e22fcb305f33916013931c96b8cec" description="Hide all wave related rows from forecast on WindFinder.com" enabled="true" filename="HideWaveRows.user.js" installTime="1345057872686" lastUpdateCheck="1345063766211" modified="1357662743118" name="HideWaveRows" namespace="" runAt="document-end" updateAvailable="false" uuid="0dad6719-5af1-43b6-b45b-bb444be52626" version="">
		<Grant>none</Grant>
		<Include>http://www.windfinder.com/weatherforecast/memphis_shelby_farms</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Add_My_Task_Report_to_VersionOne" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Add_My_Task_Report_to_VersionOne.user.js" installTime="1353003756732" lastUpdateCheck="1353020078547" modified="1363966396558" name="Personal VersionOne Report" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="333b6876-20f7-4665-81dc-5d2063183050" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_My_Task_Report_to_VersionOne/Add_My_Task_Report_to_VersionOne.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_My_Task_Report_to_VersionOne/Add_My_Task_Report_to_VersionOne.user.js">
		<Grant>none</Grant>
		<Include>https://www13.v1host.com/FedEx/Default.aspx*</Include>
	</Script>
	<Script basedir="TeamForge_Links" checkRemoteUpdates="true" dependhash="9c0d3500027c68e62b63b72fb1693254b9977be3" description="Helpful TeamForge Links" enabled="true" filename="TeamForge_Links.user.js" installTime="1357678017814" lastUpdateCheck="1357686416170" modified="1367260857375" name="TeamForge Links" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="8b168cf3-783d-4729-9ce0-27982d6cf4b6" version="v2.1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/TeamForge_Links/TeamForge_Links.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/TeamForge_Links/TeamForge_Links.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/*</Include>
		<Include>https://itg.prod.fedex.com/sf/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Add_WSAW_Naming_Standards" checkRemoteUpdates="true" dependhash="9c0d3500027c68e62b63b72fb1693254b9977be3" description="" enabled="true" filename="Add_WSAW_Naming_Standards.user.js" installTime="1358277682297" lastUpdateCheck="1358288400137" modified="1358367920405" name="Add WSAW Naming Standards" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="a889d960-ab6a-4401-84a9-8b254e30011e" version="1.1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_WSAW_Naming_Standards/Add_WSAW_Naming_Standards.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_WSAW_Naming_Standards/Add_WSAW_Naming_Standards.user.js">
		<Grant>none</Grant>
		<Include>/^https?://itg\.prod\.fedex\.com/sf/docman/do/(create|edit)Document/.*$/</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="EmpNumNames" checkRemoteUpdates="true" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="true" filename="EmpNumNames.user.js" installTime="1361553541800" lastUpdateCheck="1361556274698" modified="1362263794663" name="EmpNumNames" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="857f1db2-99a1-40b3-b950-fa8617e32cde" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EmpNumNames/EmpNumNames.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EmpNumNames/EmpNumNames.user.js">
		<Grant>none</Grant>
		<Include>http://svn1.prod.fedex.com:7080/integration/viewvc/viewvc.cgi/trunk/saflex/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="EffortReportCurrentWeek-1" checkRemoteUpdates="true" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="EffortReportCurrentWeek.user.js" installTime="1364584559543" lastUpdateCheck="1364585279659" modified="1364587260765" name="EffortReportCurrentWeek" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="7af9a8ef-e372-487f-8dbc-2e50f4c35ccc" version="" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EffortReportCurrentWeek-1/EffortReportCurrentWeek.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EffortReportCurrentWeek-1/EffortReportCurrentWeek.user.js">
		<Grant>none</Grant>
		<Include>https://analytics13.v1host.com/FedEx/AdHoc/rdPage.aspx?rdReport=ahReport47*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="APEX_Toolbar" checkRemoteUpdates="true" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="APEX_Toolbar.user.js" installTime="1365023926401" lastUpdateCheck="NaN" modified="1365100936163" name="APEX_Toolbar" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="aa3f924d-3d49-4005-9ba1-cb2de1daba8f" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/APEX_Toolbar/APEX_Toolbar.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/APEX_Toolbar/APEX_Toolbar.user.js">
		<Grant>none</Grant>
		<Include>https://performancemanager4.successfactors.com/acme*</Include>
		<UserInclude>https://performancemanager4.successfactors.com/acme*</UserInclude>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="AutoCheckSenseAwareRepo" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="AutoCheckSenseAwareRepo.user.js" installTime="1364832390103" lastUpdateCheck="1364834491795" modified="1364834491795" name="AutoCheckSenseAwareRepo" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="287652ea-ebcd-4d5c-8db5-fce6f3b3c9db" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/AutoCheckSenseAwareRepo/AutoCheckSenseAwareRepo.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/AutoCheckSenseAwareRepo/AutoCheckSenseAwareRepo.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/*/projects.sqa_senseaware/scm</Include>
	</Script>
	<Script basedir="FloatingTaskBoardHeader" checkRemoteUpdates="true" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="Floating Taskboard Header" enabled="true" filename="FloatingTaskBoardHeader.user.js" installTime="1367516631557" lastUpdateCheck="NaN" modified="1367526876679" name="FloatingTaskBoardHeader" namespace="fedex.scotterwin" runAt="document-end" updateAvailable="false" uuid="08a5d219-3662-4221-92c0-4c7fda7da4aa" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/FloatingTaskBoardHeader/FloatingTaskBoardHeader.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/FloatingTaskBoardHeader/FloatingTaskBoardHeader.user.js">
		<Grant>none</Grant>
		<Include>https://www13.v1host.com/FedEx/Default.aspx?menu=TaskBoardPage</Include>
		<Require filename="jquery.min.js"/>
	</Script>
</UserScriptConfig>