<UserScriptConfig>
	<Script basedir="Seed_Meeting_ID" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Seed_Meeting_ID.user.js" installTime="1330706806129" modified="1453324732519" name="MeetingPlace - Seed Meeting ID" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="547e975e-1b6a-43ae-9074-c8364ace69e8" version="null" updateurl="null">
		<Grant>none</Grant>
		<Include>https://meeting.web.fedex.com/*</Include>
	</Script>
	<Script basedir="Translations_Links" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Translations_Links.user.js" installTime="1331828653150" modified="1451937988119" name="Translations - Extra Links" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="a9965a2b-7661-41c1-9f31-c58c9f022935" version="null" updateurl="null">
		<Grant>none</Grant>
		<Include>https://vistaidiom.vistatec.ie/*</Include>
	</Script>
	<Script basedir="Add_My_Task_Report_to_VersionOne" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="false" filename="Add_My_Task_Report_to_VersionOne.user.js" installTime="1353003756732" modified="1451937988091" name="VersionOne - Personal Report" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="333b6876-20f7-4665-81dc-5d2063183050" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_My_Task_Report_to_VersionOne/Add_My_Task_Report_to_VersionOne.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_My_Task_Report_to_VersionOne/Add_My_Task_Report_to_VersionOne.user.js">
		<Grant>none</Grant>
		<Include>https://www13.v1host.com/FedEx/Default.aspx*</Include>
	</Script>
	<Script basedir="TeamForge_Links" checkRemoteUpdates="1" dependhash="9c0d3500027c68e62b63b72fb1693254b9977be3" description="Helpful TeamForge Links" enabled="true" filename="TeamForge_Links.user.js" installTime="1357678017814" modified="1460132104173" name="Teamforge - Link Menus" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="8b168cf3-783d-4729-9ce0-27982d6cf4b6" version="v2.1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/TeamForge_Links/TeamForge_Links.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/TeamForge_Links/TeamForge_Links.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/*</Include>
		<Include>https://itg.prod.fedex.com/sf/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Add_WSAW_Naming_Standards" checkRemoteUpdates="1" dependhash="9c0d3500027c68e62b63b72fb1693254b9977be3" description="" enabled="true" filename="Add_WSAW_Naming_Standards.user.js" installTime="1358277682297" modified="1451937988092" name="Teamforge - Add WSAW Naming Standards" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="a889d960-ab6a-4401-84a9-8b254e30011e" version="1.1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_WSAW_Naming_Standards/Add_WSAW_Naming_Standards.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Add_WSAW_Naming_Standards/Add_WSAW_Naming_Standards.user.js">
		<Grant>none</Grant>
		<Include>/^https?://itg\.prod\.fedex\.com/sf/docman/do/(create|edit)Document/.*$/</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="EmpNumNames" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="true" filename="EmpNumNames.user.js" installTime="1361553541800" modified="1451937988102" name="SVN - EmpNumNames" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="857f1db2-99a1-40b3-b950-fa8617e32cde" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EmpNumNames/EmpNumNames.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EmpNumNames/EmpNumNames.user.js">
		<Grant>none</Grant>
		<Include>http://svn1.prod.fedex.com:7080/integration/viewvc/viewvc.cgi/trunk/saflex/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="EffortReportCurrentWeek-1" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="EffortReportCurrentWeek.user.js" installTime="1364584559543" modified="1451937988100" name="VersionOne - EffortReportCurrentWeek" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="7af9a8ef-e372-487f-8dbc-2e50f4c35ccc" version="null" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EffortReportCurrentWeek-1/EffortReportCurrentWeek.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/EffortReportCurrentWeek-1/EffortReportCurrentWeek.user.js">
		<Grant>none</Grant>
		<Include>https://analytics13.v1host.com/FedEx/AdHoc/rdPage.aspx?rdReport=ahReport47*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="APEX_Toolbar" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="APEX_Toolbar.user.js" installTime="1365023926401" modified="1451937988089" name="APEX - Toolbar" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="aa3f924d-3d49-4005-9ba1-cb2de1daba8f" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/APEX_Toolbar/APEX_Toolbar.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/APEX_Toolbar/APEX_Toolbar.user.js">
		<Grant>none</Grant>
		<Include>https://performancemanager4.successfactors.com/acme*</Include>
		<UserInclude>https://performancemanager4.successfactors.com/acme*</UserInclude>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="AutoCheckSenseAwareRepo" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="AutoCheckSenseAwareRepo.user.js" installTime="1364832390103" modified="1451937988095" name="SVN - AutoCheckSenseAwareRepo" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="287652ea-ebcd-4d5c-8db5-fce6f3b3c9db" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/AutoCheckSenseAwareRepo/AutoCheckSenseAwareRepo.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/AutoCheckSenseAwareRepo/AutoCheckSenseAwareRepo.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/*/projects.sqa_senseaware/scm</Include>
	</Script>
	<Script basedir="Max_length_on_service_ticket" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="set max length" enabled="true" filename="Max_length_on_service_ticket.user.js" installTime="1370267793898" modified="1451937988113" name="RT - Max length on service ticket" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="29b69229-8140-422a-9bdc-ac4737373fb1" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Max_length_on_service_ticket/Max_length_on_service_ticket.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/7hpb8or0.default/gm_scripts/Max_length_on_service_ticket/Max_length_on_service_ticket.user.js">
		<Grant>none</Grant>
		<Include>https://sso.secure.fedex.com/techweb/srvpro.jsp</Include>
	</Script>
	<Script basedir="Preview_Commit_Window" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="Preview_Commit_Window.user.js" installTime="1377031028111" modified="1455730993674" name="SVN - Preview Commit Window" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="cee2243c-3d56-4951-8a1e-fac5e08a4fd2" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Preview_Commit_Window/Preview_Commit_Window.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Preview_Commit_Window/Preview_Commit_Window.user.js">
		<Grant>none</Grant>
		<Include>*//itg.prod.fedex.com/sf/scm/do/viewRepository/projects.sqa_senseaware/scm.senseaware*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Direct_Document_Links" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="Direct_Document_Links.user.js" installTime="1377718144141" modified="1460144457104" name="Teamforge - Direct Document Links" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="13b54166-7e27-49b7-a089-4583ceb4ca56" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Direct_Document_Links/Direct_Document_Links.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Direct_Document_Links/Direct_Document_Links.user.js">
		<Grant>none</Grant>
		<Include>http://itg.prod.fedex.com/sf/docman/do/listDocuments/projects.sqa_senseaware/docman.root*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Filterable_Commit_Messages" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="" enabled="true" filename="Filterable_Commit_Messages.user.js" installTime="1377799037167" modified="1451937988106" name="SVN - Filterable Commit Messages" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="18241486-c8b6-4255-898f-2712977d7bfd" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Filterable_Commit_Messages/Filterable_Commit_Messages.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Filterable_Commit_Messages/Filterable_Commit_Messages.user.js">
		<Grant>none</Grant>
		<Include>*//itg.prod.fedex.com/sf/scm/do/viewRepository/projects.sqa_senseaware/scm.senseaware*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="Meritline_Free_Ground_Service_Shipping" checkRemoteUpdates="1" dependhash="04439a3cdd179f52db6e4cf3d3eca85a7813c56b" description="Always check free ground service shipping option." enabled="true" filename="Meritline_Free_Ground_Service_Shipping.user.js" installTime="1378740152041" modified="1451937988113" name="Meritline - Free Ground Service Shipping" namespace="fedex.scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="691ae874-f725-4d2b-a6d3-732063575fa5" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Meritline_Free_Ground_Service_Shipping/Meritline_Free_Ground_Service_Shipping.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/febeprof.263952/gm_scripts/Meritline_Free_Ground_Service_Shipping/Meritline_Free_Ground_Service_Shipping.user.js">
		<Grant>none</Grant>
		<Include>https://www.meritline.com/checkoutpayment.aspx</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script author="rat_siem" basedir="Google_Calendar_Bars_Toggler-1" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="This script is toggles the top and side bars of Google Calendar to hidden/visible with click or I U O G V key." enabled="true" filename="107309.user.js" installTime="1447434107017" modified="1447434107017" name="Google Calendar Bars Toggler" namespace="http://userscripts.org/scripts/show/107309" noframes="false" runAt="document-end" updateMetaStatus="fail" uuid="7f39d1ac-e541-4b7a-9101-5be2502c1607" version="1.7.14" installurl="http://userscripts-mirror.org/scripts/source/107309.user.js" updateurl="http://userscripts-mirror.org/scripts/source/107309.user.js">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_addStyle</Grant>
		<Include>https://*.google.*/calendar/*</Include>
		<Include>http://*.google.*/calendar/*</Include>
	</Script>
	<Script basedir="V1Tweaks" checkRemoteUpdates="1" dependhash="9c0d3500027c68e62b63b72fb1693254b9977be3" description="" enabled="true" filename="V1Tweaks.user.js" installTime="1457017217869" modified="1463088039233" name="V1Tweaks" namespace="scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="e4081e85-8a4e-4fc8-9cfd-75117b3f80bc" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/wk83fksp.default/gm_scripts/V1Tweaks/V1Tweaks.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/wk83fksp.default/gm_scripts/V1Tweaks/V1Tweaks.user.js">
		<Grant>none</Grant>
		<Include>https://www13.v1host.com/FedEx/Default.aspx?menu=TaskBoardPage*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="SvnEnhancer" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="SvnEnhancer.user.js" installTime="1459880635347" modified="1459880766571" name="SvnEnhancer" namespace="scotterwin" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="bac2a53e-54c5-4b74-a637-4be906ffd373" version="1" installurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/wk83fksp.default/gm_scripts/SvnEnhancer/SvnEnhancer.user.js" updateurl="file:///C:/Users/263952/AppData/Roaming/Mozilla/Firefox/Profiles/wk83fksp.default/gm_scripts/SvnEnhancer/SvnEnhancer.user.js">
		<Grant>none</Grant>
		<Include>http://sym8c.prod.fedex.com/integration/viewvc/viewvc.cgi*</Include>
	</Script>
	<Script author="Sindre Sorhus" basedir="cssprettifier" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Format and syntax highlight CSS" enabled="true" filename="cssprettifier.user.js" installTime="1462378512736" modified="1462378512736" name="cssprettifier" namespace="https://github.com/sindresorhus/cssprettifier-userscript" noframes="false" runAt="document-idle" updateMetaStatus="fail" uuid="f8545010-8003-49c7-bc03-5d8eb02871e2" version="0.1.1" installurl="https://github.com/sindresorhus/cssprettifier-userscript/raw/master/cssprettifier.user.js" updateurl="https://github.com/sindresorhus/cssprettifier-userscript/raw/master/cssprettifier.user.js">
		<Grant>none</Grant>
		<Match>*://*/*.css*</Match>
	</Script>
</UserScriptConfig>